.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f0f2f5;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    margin-right: 10px;
  }
  
  .menu {
    flex-grow: 1;
  }
  
  .menuMobile {
    display: none;
  }
  
  @media (max-width: 768px) {
    .menu {
      display: none;
    }
  
    .menuMobile {
      display: inline-block;
    }
  }
  